<h1>Check in for Location <%= @location.id %></h1>

<%= form_tag('/success') do %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </div>

  <%= hidden_field_tag :location_id, @location.id %>
  <%= hidden_field_tag :event_id, @event.id %>

  <div class="actions">
    <%= submit_tag "Check in" %>
  </div>
<% end %>
