<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @location.tag %>
</p>

<table class="qr">
 <% @qr.modules.each_index do |x| -%>
   <tr class="qr">
   <% @qr.modules.each_index do |y| -%>
    <% if @qr.dark?(x,y) -%>
    <td class="qr black"/>
    <% else -%>
    <td class="qr white"/>
    <% end -%>
   <% end -%>
   </tr>
 <% end -%>
</table>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
